#syncAccountFromAccountsOrCats,
#cardbookAccountMenuSync,
#cardbookAccountMenuSyncs {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}
#syncAccountFromAccountsOrCats[disabled],
#cardbookAccountMenuSync[disabled],
#cardbookAccountMenuSyncs[disabled] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
}

#cardbookToolsMenuOptions {
	list-style-image: url("moz-icon://stock/gtk-preferences?size=menu");
}

#printFromAccountsOrCats,
#printFromCards {
  list-style-image: url("moz-icon://stock/gtk-print-preview?size=menu");
}
#printFromAccountsOrCats[disabled],
#printFromCards[disabled] {
  list-style-image: url("moz-icon://stock/gtk-print-preview?size=menu&state=disabled");
}

#cardbookAccountMenuCloseServer,
#removeAccountFromAccountsOrCats {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}
#cardbookAccountMenuCloseServer[disabled],
#removeAccountFromAccountsOrCats[disabled] {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu&state=disabled");
}

#saveImageCard {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu");
}
#saveImageCard[disabled] {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu&state=disabled");
}

#deleteImageCard,
#deleteCard,
#removeCatFromAccountsOrCats,
#cardbookContactsMenuRemoveCard,
#removeCardFromCards {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu");
}
#deleteImageCard[disabled],
#deleteCard[disabled],
#removeCatFromAccountsOrCats[disabled],
#cardbookContactsMenuRemoveCard[disabled],
#removeCardFromCards[disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu&state=disabled");
}

#cardbookContactsMenuCutCards,
#cutCardsFromAccountsOrCats,
#cutCardsFromCards {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}
#cardbookContactsMenuCutCards[disabled],
#cutCardsFromAccountsOrCats[disabled],
#cutCardsFromCards[disabled] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
}

#copyAdr,
#copyImageCard,
#copyadrTree,
#copytelTree,
#copyemailTree,
#copyimppTree,
#copyurlTree,
#cardbookContactsMenuCopyCards,
#copyCardsFromAccountsOrCats,
#copyCardsFromCards {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}
#copyAdr[disabled],
#copyImageCard[disabled],
#copyadrTree[disabled],
#copytelTree[disabled],
#copyemailTree[disabled],
#copyimppTree[disabled],
#copyurlTree[disabled],
#cardbookContactsMenuCopyCards[disabled],
#copyCardsFromAccountsOrCats[disabled],
#copyCardsFromCards[disabled] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
}

#pasteAdr,
#pasteImageCard,
#cardbookContactsMenuPasteEntry,
#pasteEntryFromCards,
#cardbookContactsMenuPasteCards,
#pasteCardsFromAccountsOrCats,
#pasteCardsFromCards {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}
#pasteAdr[disabled],
#pasteImageCard[disabled],
#cardbookContactsMenuPasteEntry[disabled],
#pasteEntryFromCards[disabled],
#cardbookContactsMenuPasteCards[disabled],
#pasteCardsFromAccountsOrCats[disabled],
#pasteCardsFromCards[disabled] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
}

